header{
    background-color: #BF0B3B;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 5;
    opacity: 1;
}

body{
    background:linear-gradient(360deg, rgb(0,0,0), #ff0044)
}

section{
    margin-top: 10%;
}

.navbar{
    display: flex;
    justify-content: space-around;
}

.navbar  li{
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 15px;
    font-family: 'Roboto Mono', monospace;
    color: #f2f2f2;
    list-style: none;
    
}

.navbar a{
    list-style: none;
    text-decoration: none;
    color: #BF0B3B;
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    border-radius: 40px;
    color: #BF0B3B;
    letter-spacing: 1px;
    transition: ease .50s;
    font-family: 'Roboto Mono', monospace;
    padding: 15px 20px;
}

.navbar a:hover{
    color: #f2f2f2;
    background-color: #BF0B3B;
    border: 10px solid ;
    display: flex;
    justify-content: center;
}

.navbar-itens{
  margin-right: 40%;
  margin-bottom: 1px;
}

h1{
    display: flex;
    justify-content: center;
    margin-bottom: 7%;
    color: #BF0B3B;
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
}

.inputs{
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: #BF0B3B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.put{
    border: 2%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 10px;
    margin-left: 2%;
}
.form{
    padding-right: 30%;
    padding-left: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.submit{
        font-size: 20px;
        border: 20px;
        background-color: #BF0B3B;
        border-radius: 20px;
        color: #F2F2F2;
        padding: 15px;
        margin-top: 5%;
        transition: ease .50s;
        font-family: 'Roboto Mono', monospace;
}

.submit:hover{
    color: #f2f2f2;
    background-color: #BF0B3B;
    border: 30px solid #BF0B3B;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}
